img{
    width: 200px;
}
p{
    background: #c7c177;
    color: #383636;
}h1{
    background: #f5f57c;
    color: #797900;
 }
 h2{
     background: yellow;

 }
 a{
     color: #797900;
 }
 h1,h2{
     text-align: center;
 }