body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap_1 {
    height: 900px;
    width: 100%;
    background: #e8e8e8;
    border: 2px solid #424242;
    border-radius: 8px;
    padding: 8px;
    text-align: center;

}
.cot1 {
    height: 150px;
    width: 100%;
    background: #a9a7a7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.cot2 {
    height: 250px;
    width: 100%;
    background: #e8e8e8;
    display: flex;
}
.blk1 {
    min-height: 250px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background: #ebedef;



}
.blk2 {
    min-height: 248px;
    width: 30%;
    background: #a9a7a7;
    margin-top: 2px;

}
.box_b {
    height: 123px;
    width: 33%;
    background: #a9a7a7;
    margin-top: 2px;
    margin-right: 2px;


}